body {
	background-image: url("../images/wov.png");
/*	background-size: 100%;
	background-size: cover;*/
}

#zeldalogo {
	width: 100%;
	height: 70%;
}

.panel1 {
	background-color: transparent;
	background: rgba(217, 247, 247, .5);
}

.instructionrow {
	margin: 10px 20px;
}

#computerrow {
	background: rgba(217, 247, 247, .5);
}

.crystal-image {
	cursor: pointer;
}

.buttonimg {
	padding: 0px;
	border: 0px;
	margin: 10px;
}

p {
	font-size: 18px;
}

.heading {
	width: 300px;
	height: 50px;
	text-align: center;
	padding: 10px 0px 30px;
	background-color: orange;
}

.mainsection {
	width: 380px;
	background-color: beige;
	color: green;
	padding: 10px 0px 30px;
	margin: 10px 0px;
}

.computernumber {
	/*float: left;
	width: 245px;
	height: 120px;
	background-color: green;
	margin: 10px 0px;*/
	background: rgba(217, 247, 247, .7);
	margin: 10px 20px;
	}

.scoreboard {
	float: left;
	width: 100px;
	height: 120px;
	margin: 10px 0px 10px 10px;
background: rgba(217, 247, 247, .7);
}

.crystalpictures {
	clear: both;
}

.crystal-image {
	float: left;
	height: 100px;
}

#crystal2 {
	float: left;
	width: 80px;
	height: 100px;
	margin: 10px;

}

#crystal3 {
	float: left;
	width: 80px;
	height: 100px;
	margin: 10px;

}

#crystal4 {
	float: left;
	width: 80px;
	height: 100px;
	margin: 10px;
}

.scoreheading {
	clear: both;
	background: rgba(217, 247, 247, .7);
	margin: 10px 20px;
}

.yourscore {
	clear: both;
	background: rgba(217, 247, 247, .7);
	margin: 10px 20px;
}

.computernumber, .yourscore {
	font-size: 24px;
}

@media screen and (min-width: 480px) {

	body{
	background-image: url("../images/backgroundimg.jpg");
	}
}